In [1]:
import os
import tarfile
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
fr = pd.read_csv('yelp_academic/data/business_ambience.csv')

In [3]:
fr.head()

,photo_id,touristy,hipster,romantic,divey,intimate,upscale
0,ZlTwL6uWx6rW_L9Df5RT8A,False,False,True,False,True,False
1,fHbSMxueQfXFRb9e-6bJuw,False,False,False,True,False,False
2,74oWvVVIjms9LjfHQOgxMQ,False,False,False,False,False,True
3,QY6c1OKsIpujF4MDHQdbag,False,True,False,False,False,False
4,0AYEzNJYFF2PeXo71cpKuw,False,True,False,False,False,False

In [4]:
os.chdir('yelp_academic')

In [5]:
filenames = [os.path.join('photos', filename + '.jpg') for filename in fr.photo_id]

In [6]:
tar = tarfile.open("ambience_photos.tar", "w")
for filename in tqdm(filenames):
    tar.add(filename)
tar.close()

  0%|          | 0/32928 [00:00<?, ?it/s]