In [1]:
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
businesses = pd.read_csv('yelp_academic/data/photos_businesses_all.csv')

In [3]:
businesses = businesses[['photo_id', 'Non_restaurant']]

In [4]:
businesses['Non_restaurant'].value_counts()

False    170222
True      29778
Name: Non_restaurant, dtype: int64

In [5]:
businesses = businesses.rename(columns={'Non_restaurant': 'is_business'})

In [6]:
restaurants = businesses[businesses.is_business == False]

In [7]:
businesses = businesses[businesses.is_business == True]

In [8]:
len(restaurants)

170222

In [9]:
restaurants = restaurants.sample(n=len(businesses), random_state=42)

In [10]:
len(restaurants)

29778

In [11]:
businesses = pd.concat([businesses,restaurants])

In [12]:
businesses.head()

                  photo_id  is_business
14  RS5CqUYLc1yJe11BHOIamw         True
16  H60MMcyGLFzWPrj-2KLikg         True
19  9UXd4DTUZnh5Vj_JxCXNfQ         True
20  j1DaMCfm5SmUvu-wnfB4Rw         True
21  Bf0oOYmZub44CZNs3pQ8JA         True

In [13]:
businesses = businesses.sample(frac=1, random_state=69).reset_index(drop=True)

In [14]:
businesses.head()

                 photo_id  is_business
0  3V7tgMx3Qw5L9ZjRLNbthA         True
1  fZo1owoYqwAHW7uZlTz1XQ        False
2  zwOCQ8w3gFuF3zi_dyIWpw        False
3  hQBfeDngFMpB9HX2CPKtag         True
4  Fjh4N5B38vJWVbuQk-v3aQ         True

In [15]:
businesses.to_csv('yelp_academic/data/business_restaurant.csv', index = False)

# Ambience

In [42]:
train = pd.read_csv('yelp_academic/data/business_ambience/train.csv').drop('business_id', axis=1)
dev = pd.read_csv('yelp_academic/data/business_ambience/dev.csv').drop('business_id', axis=1)
test = pd.read_csv('yelp_academic/data/business_ambience/test.csv').drop('business_id', axis=1)

In [44]:
ambience = pd.concat([train, dev, test]).sample(frac=1, random_state=42).reset_index(drop=True)

In [45]:
ambience.head()

,photo_id,touristy,hipster,romantic,divey,intimate,trendy,upscale,classy,casual
0,zlhx0gVrXYpmyhefgM-Z3w,False,False,False,False,False,False,False,False,True
1,y7ydtCJcf_Y6LT2kIhHkoA,False,False,False,False,False,False,False,False,True
2,AxxEwDWgRv5IJJ6KeJI76Q,False,False,False,False,False,False,False,False,True
3,72hGxAlV3W078BFDEhDnsg,False,False,False,False,False,True,False,False,True
4,LJu6pRQoDFmKiAJHsyswLQ,False,False,False,False,False,False,False,False,True

In [52]:
multilabel_rows = 0
tcc = 0

In [53]:
for i in tqdm(range(len(ambience))):
    if sum(ambience.iloc[i, 1:]) > 1:
        multilabel_rows += 1
        if sum(ambience.iloc[i][['trendy', 'classy', 'casual']]) >= 1:
            tcc += 1

  0%|          | 0/150738 [00:00<?, ?it/s]

In [56]:
multilabel_rows, tcc

(75765, 75552)

In [57]:
amb_cols = ['touristy', 'hipster', 'romantic', 'divey', 'intimate', 'trendy', 'upscale', 'classy', 'casual']

In [58]:
ambience

,photo_id,touristy,hipster,romantic,divey,intimate,trendy,upscale,classy,casual
0,zlhx0gVrXYpmyhefgM-Z3w,False,False,False,False,False,False,False,False,True
1,y7ydtCJcf_Y6LT2kIhHkoA,False,False,False,False,False,False,False,False,True
2,AxxEwDWgRv5IJJ6KeJI76Q,False,False,False,False,False,False,False,False,True
3,72hGxAlV3W078BFDEhDnsg,False,False,False,False,False,True,False,False,True
4,LJu6pRQoDFmKiAJHsyswLQ,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
150733,Uunrnu6ZXz-ZAbWAvNPwcQ,False,False,False,False,False,False,False,False,True
150734,74nMzTrIPeJhpVpnxktqBw,False,False,False,False,False,False,False,False,True
150735,6S10bG5BAnnZaUkccIY-NQ,False,False,False,False,False,False,False,False,True
150736,gQeU7f-YfWuc_i5JpXD7gQ,True,False,False,False,False,True,False,True,True
150737,iSkAm9jVvGQhSAgmr11UDQ,False,False,False,False,False,False,False,True,True

In [76]:
amb_singlerow = ambience[ambience[['trendy', 'classy', 'casual']].sum(axis=1) < 2]

In [77]:
amb_singlerow

,photo_id,touristy,hipster,romantic,divey,intimate,trendy,upscale,classy,casual
0,zlhx0gVrXYpmyhefgM-Z3w,False,False,False,False,False,False,False,False,True
1,y7ydtCJcf_Y6LT2kIhHkoA,False,False,False,False,False,False,False,False,True
2,AxxEwDWgRv5IJJ6KeJI76Q,False,False,False,False,False,False,False,False,True
4,LJu6pRQoDFmKiAJHsyswLQ,False,False,False,False,False,False,False,False,True
6,to2Ufr0_T5l6oHtQXxkyBQ,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
150726,pF54PztV16xz0N2aIGyYYg,False,False,False,False,False,False,False,False,True
150730,mao_Ww-aIbIclSSgtHcG3w,False,False,False,False,False,False,False,True,False
150733,Uunrnu6ZXz-ZAbWAvNPwcQ,False,False,False,False,False,False,False,False,True
150734,74nMzTrIPeJhpVpnxktqBw,False,False,False,False,False,False,False,False,True
150735,6S10bG5BAnnZaUkccIY-NQ,False,False,False,False,False,False,False,False,True

In [89]:
for col in amb_cols:
    print(ambience[col].value_counts())

False    143442
True       7296
Name: touristy, dtype: int64
False    138216
True      12522
Name: hipster, dtype: int64
False    146090
True       4648
Name: romantic, dtype: int64
False    147700
True       3038
Name: divey, dtype: int64
False    146349
True       4389
Name: intimate, dtype: int64
False    119228
True      31510
Name: trendy, dtype: int64
False    144884
True       5854
Name: upscale, dtype: int64
False    77663
True     73075
Name: classy, dtype: int64
True     113692
False     37046
Name: casual, dtype: int64

In [91]:
ambience.head()

,photo_id,touristy,hipster,romantic,divey,intimate,trendy,upscale,classy,casual
0,zlhx0gVrXYpmyhefgM-Z3w,False,False,False,False,False,False,False,False,True
1,y7ydtCJcf_Y6LT2kIhHkoA,False,False,False,False,False,False,False,False,True
2,AxxEwDWgRv5IJJ6KeJI76Q,False,False,False,False,False,False,False,False,True
3,72hGxAlV3W078BFDEhDnsg,False,False,False,False,False,True,False,False,True
4,LJu6pRQoDFmKiAJHsyswLQ,False,False,False,False,False,False,False,False,True

In [96]:
ambience = ambience.drop(['trendy', 'classy', 'casual'], axis=1)

In [97]:
ambience.head()

,photo_id,touristy,hipster,romantic,divey,intimate,upscale
0,zlhx0gVrXYpmyhefgM-Z3w,False,False,False,False,False,False
1,y7ydtCJcf_Y6LT2kIhHkoA,False,False,False,False,False,False
2,AxxEwDWgRv5IJJ6KeJI76Q,False,False,False,False,False,False
3,72hGxAlV3W078BFDEhDnsg,False,False,False,False,False,False
4,LJu6pRQoDFmKiAJHsyswLQ,False,False,False,False,False,False

In [101]:
ambience = ambience[ambience.sum(axis=1) > 0].reset_index(drop=True)

In [102]:
ambience.head()

,photo_id,touristy,hipster,romantic,divey,intimate,upscale
0,ZlTwL6uWx6rW_L9Df5RT8A,False,False,True,False,True,False
1,fHbSMxueQfXFRb9e-6bJuw,False,False,False,True,False,False
2,74oWvVVIjms9LjfHQOgxMQ,False,False,False,False,False,True
3,QY6c1OKsIpujF4MDHQdbag,False,True,False,False,False,False
4,0AYEzNJYFF2PeXo71cpKuw,False,True,False,False,False,False

In [120]:
mll_tour = 0
for i in tqdm(range(len(ambience))):
    if sum(ambience.iloc[i, 1:]) > 1:
        mll_tour += 1

  0%|          | 0/32928 [00:00<?, ?it/s]

In [121]:
mll_tour

3997

In [108]:
new_cols = ['touristy', 'hipster', 'romantic', 'divey', 'intimate', 'upscale']

In [109]:
for col in new_cols:
    print(ambience[col].value_counts())

False    25632
True      7296
Name: touristy, dtype: int64
False    20406
True     12522
Name: hipster, dtype: int64
False    28280
True      4648
Name: romantic, dtype: int64
False    29890
True      3038
Name: divey, dtype: int64
False    28539
True      4389
Name: intimate, dtype: int64
False    27074
True      5854
Name: upscale, dtype: int64

In [119]:
len(ambience)

32928

In [123]:
ambience.to_csv('yelp_academic/data/business_ambience.csv', index = False)